<h1>電影類別</h1>
<a href="/admin/movies">電影清單</a> ||
<a href="/admin/create">新增電影</a> ||
<a href="/admin/categories">電影類別</a>
<br>
<br>
<div class="col-md-6">

{{#if category}}
  <form action="/admin/categories/{{category.id}}?_method=PUT" method="POST" style="display:inline;">
    <div class="form-group">
      <label for="createCategory">更新類別</label>
      <input type="text" class="form-control" name="name" id="createCategory" value="{{category.name}}"
        placeholder="Enter Category">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">update</button>
    or <a href="/admin/categories">Create New</a>
  </form>

{{else}}
  <form action="/admin/categories" method="POST" style="display:inline;">
    <div class="form-group">
      <label for="createCategory">新增類別</label>
      <input type="text" class="form-control" name="name" id="createCategory"  placeholder="Enter Category">
    </div>  
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
{{/if}}

  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each categories}}
      <tr>
        <td scope="col">{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>
          <a href="/admin/categories/{{this.id}}" class="btn btn-link">Edit</a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>