<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <title>電影評論網</title>
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-success">
      <a class="navbar-brand" href="/">電影評論網</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#movieNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="movieNavDropdown">
        
        <ul class="navbar-nav">
 
          <li class="nav-item dropdown mr-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars fa-lg text-light"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/movies"><i class="fas fa-home"></i>&ensp;HOME</a>
              <br>
              <a class="dropdown-item" href="/movies/topMovie">
                <i class="fas fa-fire"></i>&ensp;Top Movie
              </a>
              <br>
              <a class="dropdown-item" href="/movies/feeds">
                <i class="fas fa-fire"></i>&ensp;Feeds
              </a>
              <br>
              <a class="dropdown-item" href="/users/topUser">
                <i class="fas fa-fire"></i>&ensp;Top Users
              </a>
              <br>
              <a class="dropdown-item" href="/users/{{user.id}}"><i class="far fa-user"></i>&ensp;Profile
              </a>
              <br>
              <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i>&ensp;LogOut</a>
              <br>
             
            </div>
          </li>
          <li class="user-name">
            {{#if user.id}}
            <a href="/users/{{user.id}}" class="text-light">Hi,&nbsp;&nbsp;{{user.name}}</a> 
            {{/if}}

          </li>
          <li class="user-name">
            {{#if user.role}}
            <a href="/admin" style="color: white; margin-right:10px;">Admin 後台</a>
            {{/if}}
          </li>
        </ul>
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>

  </div>

  <br>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        {{#if success_msg}}
        <div class="alert alert-success" role="alert" style="margin:30px 0;">
          {{success_msg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        
        {{#if error_msg}}
        <div class="alert alert-danger" role="alert" style="margin:30px 0;">
          {{error_msg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        {{{ body }}}
      </div>
    </div>
  </main>

  <script src="/javascripts/func.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>