<h1>最新動態</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新電影
      </div>
      <div class="card-body">
        {{#each movies}}
        <div>
          <h4>
            <a href="/movies/{{this.id}}">
              {{this.title}}
            </a>
            <small>{{this.Category.name}}</small>
          </h4>
          <p>{{this.description}}</p>
          {{momentAgo this.createdAt}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">最新評論</div>
      <div class="card-body">
        {{#each comment}}
        <div>
          <h4>
            <a href="/movies/{{this.Movie.id}}" class="nav-link">
              {{this.Movie.title}}
            </a>
          </h4>
          <img src="{{this.Movie.image}}" alt="" width="50px">
          <p>{{this.text}}</p> by
          <a href="/users/{{this.User.id}}">
            {{this.User.name}}
          </a>
          at {{momentAgo this.createdAt}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>