<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{movie.dataValues.image}}" alt="{{movie.dataValues.title}}" width="300px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">名稱: {{movie.dataValues.title}}</h5>
        <p class="card-text">上映日期: {{ momentDate movie.dataValues.release_date}}</p>
        <p class="card-text">摘要: <br><br>{{movie.dataValues.description}}</p>
      </div>
    </div>
  </div>
</div>