<div class="row">
  <div class="col-md-4">
    <img src="{{user.image}}" alt="">
  </div>
  <div class="col-md-8">
    <p>name: {{user.name}}</p>
    <br>
    <p>email: {{user.email}}</p>
    <p><strong>{{len}}</strong>&nbsp;已評論電影</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary btn-sm">Edit</a>
  </div>
</div>

<div class="col-md-12">
  <div class="card mt-1">
    <div class="card-header">
      <p><strong>{{len}}</strong>&nbsp;已評論電影</p>
    </div>
    <div class="card-body row">
      {{#each user.Comments}}
      <div class="ml-2">
        <a href="/movies/{{this.Movie.id}}">
          <img src="{{this.Movie.image}}" alt="{{this.Movie.title}}" width="100px">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>